.App {
  text-align: center;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background: #F5F5F5;
}

.height-100{
  height: 100vh;
}


.MuiCardContent-root{
  padding-bottom: 0 !important;
}

.MuiIcon-colorPrimary {
  color: #615f5f !important;
}

header{
  box-shadow: none !important;
}

.row-register{
  background-color: white;
  height: 10vh;
}

.my-container{
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}

.MuiTypography-h4{
  font-weight: 100 !important;
}

.justify-center{
  justify-content: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

